html {
  font-size: 0.625rem;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $links-color;
  transition: all 0.2s ease 0s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden{
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: $font-main;
  font-weight: 300;
  margin: 0px;
  color: $text-main-color;
  background-color: $main-bg;
  transition: all 0.2s ease 0s;
  font-size: 1.4rem;
}
main {
  overflow: hidden;
  @media #{$min-desktop-width} {
    margin-top: -87px;
  }
}
input,
textarea,
select {
  font-family: $font-main;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
  outline: none;
}
input:focus {
  outline-width: 0;
  outline: none;
}
button {
  font-family: $font-main;
  border-width: 0;
  cursor: pointer;
}
button:focus {
  outline-width: 0;
  outline: none;
}
label {
  cursor: pointer;
}
.clearfix::after { 
  content: ""; /* Генерируем пустой элемент */
  clear: both; /* Отменяем обтекание*/
  display: block; /* Блочный элемент */
}
.disable {
  display: none !important;
}
/* btnflip */
.btnflip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform-origin: center center;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 300;
}
.btnflip-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  text-transform: uppercase;
  transition: 1s;
}
.btnflip-item.btnflip__front {
  color: #fff;
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
  transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
  color: #000;
  transform: rotateX(180deg) translateZ(20px);
  border: 1px solid #000;
}
.btnflip:hover .btnflip-item.btnflip__back {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip-item.btnflip__center {
  background: #000;
}
.btnflip-item.btnflip__center::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateZ(-1px);
}
.btnflip:hover .btnflip-item.btnflip__center {
  transform: rotateX(-180deg);
}
/* /btnflip */
/* burger */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:1;
  stroke-linecap:round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
/* /burger */