$max-mobile-width: "(max-width: 749px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 750px)";
$max-tablet-width: "(max-width: 1279px)";
$only-tablet-width: "(min-width: 750px) and (max-width: 1279px)";
$max-tablet-wrapper: 1190px;

$min-desktop-width: "(min-width: 1280px)";
$max-desktop-wrapper: 1400px;

$text-main-color: #393939;
$title-color: #000;
$main-bg: #ffffff;
$alt-bg: #f4f9f9;

$links-color: #484c4f;
$links-color--hover: #00aef5;

$font-main: "gothampro", "Arial", sans-serif;

$preview-card-bg: #f2f2f2;