@font-face {
    font-family: 'gothampro';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
  font-family: 'gothampro';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'gothampro';
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}