.about__wrapper {
  @include paddings;
  @include section-width;
  position: relative;
  @media #{$max-mobile-width} {
    padding-top: 34px;
  }
  @media #{$min-tablet-width} {
    display: flex;
    flex-wrap: 1;
    padding-top: 45px;
    align-items: flex-start;
  }
  @media #{$min-desktop-width} {
    padding-top: 72px;
  }
  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/assets/templates/omega-template/img/about__pattern.png");
    width: 455px;
    height: 168px;
    @media #{$max-mobile-width} {
      bottom: 105px;
      right: 10px;
    }
    @media #{$min-tablet-width} {
      top: 345px;
      left: 23px;
    }
    @media #{$min-desktop-width} {
      top: 87px;
      left: 80px;
    }
  }
}
.about__title {
  @media #{$max-mobile-width} {
    @include main-title;
    text-align: center;
    margin-bottom: 0;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.about__director-field {
  font-size: 0;
  position: relative;
  z-index: 2;
  @media #{$max-mobile-width} {
    max-width: 164px;
    @include centers;
    margin-top: 10px;
    margin-bottom: 23px;
  }
  @media #{$min-tablet-width} {
    flex-shrink: 0;
    width: 280px;
    margin-right: 55px;
    margin-top: 18px;
    transform: translateX(-30px);
  }
  @media #{$min-desktop-width} {
    margin-right: 190px;
    margin-left: 140px;
    margin-top: 24px;
    transform: translateX(0);
  }
  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 0;
    background-color: #f6f6fa;
    @media #{$max-mobile-width} {
      right: -20px;
      width: 700px;
      height: 195px;
    }
    @media #{$min-tablet-width} {
      right: -34px;
      width: 700px;
      height: 334px;
    }
  }
  &::after {
    @media #{$min-tablet-width} {
      position: absolute;
      content: "";
      z-index: 1;
    }
  }
}
.about__director-img {
  position: relative;
  z-index: 3;
}
.about__text-title {
  @include main-title;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    margin-bottom: 34px;
  }
  @media #{$min-desktop-width} {
    font-size: 3rem;
  }
}
.about__paragraph {
  line-height: 2.4rem;
  margin-top: 0;
  @media #{$max-mobile-width} {
    margin-bottom: 23px;
  }
  @media #{$min-tablet-width} {
    margin-bottom: 26px;
  }
}
.about__submit {
  position: relative;
  background-color: transparent;
  display: block;
  @media #{$max-mobile-width} {
    width: 247px;
    height: 45px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    width: 247px;
    height: 45px;
    margin-top: 44px;
  }
  @media #{$min-desktop-width} {
    width: 337px;
    height: 50px;
    margin-top: 53px;
  }
  & .btnflip-item {
    @media #{$max-mobile-width} {
      line-height: 45px;
    }
    @media #{$min-tablet-width} {
      line-height: 45px;
    }
    @media #{$min-desktop-width} {
      line-height: 50px;
    }
  }
  & span {
    @media #{$max-mobile-width} {
      font-size: 1.4rem;
    }
    @media #{$min-tablet-width} {
      font-size: 1.4rem;
    }
    @media #{$min-desktop-width} {
      font-size: 1.8rem;
    }
  }
}