.combat-quiz {
  position: relative;
  @media #{$min-desktop-width} {
    margin-top: 85px;
    margin-bottom: 75px;
  }
}
.combat-quiz__wrapper {
  position: relative;
  z-index: 3;
  @include section-width;
  @include paddings;
  @media #{$max-mobile-width} {
    padding-top: 65px;
    padding-bottom: 25px;
  }
  @media #{$min-tablet-width} {
    padding-top: 114px;
    padding-bottom: 100px;
  }
  @media #{$min-desktop-width} {
    padding-top: 70px;
  }
  &::after {
    position: absolute;
    content: "";
    z-index: 4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    @media #{$max-mobile-width} {
      width: 321px;
      height: 205px;
      background-image: url("/assets/templates/omega-template/img/all-quiz-dots--mobile.svg");
      top: 30px;
      left: 235px;
    }
    @media #{$min-tablet-width} {
      width: 455px;
      height: 290px;
      background-image: url("/assets/templates/omega-template/img/all-quiz-dots--tablet.svg");
      top: 40px;
      left: 400px;
    }
    @media #{$min-desktop-width} {
      height: 331px;
      background-image: url("/assets/templates/omega-template/img/all-quiz-dots--desktop.svg");
      top: 5px;
      left: 300px;
    }
  }
  &::before {
    @media #{$min-desktop-width} {
      position: absolute;
      content: "";
      left: 1030px;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #f6f6fa;
    }
  }
}
.combat-quiz__inner {
  position: relative;
  z-index: 5;
  &::before {
    @media #{$min-desktop-width} {
      position: absolute;
      content: "";
      left: 945px;
      top: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/assets/templates/omega-template/img/grand-arrow.png");
      width: 179px;
      height: 12px;
      transform: translateY(-6px);
    }
  }
}
.combat-quiz__title {
  @include main-title;
}
.combat-quiz__container {
  @media #{$min-tablet-width} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
  }
  @media #{$min-desktop-width} {
    max-width: 709px;
  }
}
.combat-quiz__text {
  @media #{$max-mobile-width} {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 239px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 305px;
  }
}
.combat-quiz__choose-btn-field {
  position: relative;
  @media #{$max-mobile-width} {
    width: 243px;
    height: 45px;
    margin-top: 41px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    width: 253px;
    height: 45px;
  }
  @media #{$min-desktop-width} {
    width: 322px;
    height: 50px;
  }
  & .btnflip {
    @media #{$max-mobile-width} {
      font-size: 14px;
    }
    @media #{$min-tablet-width} {
      font-size: 14px;
    }
    @media #{$min-desktop-width} {
      font-size: 18px;
    }
  }
  & .btnflip-item {
    @media #{$max-mobile-width} {
      line-height: 45px;
    }
    @media #{$min-tablet-width} {
      line-height: 45px;
    }
    @media #{$min-desktop-width} {
      line-height: 50px;
    }
  }
}
.combat-quiz__choose-btn {
  background-color: transparent;
}