.contacts__wrapper {
  @include section-width;
  @include paddings;
  @media #{$max-mobile-width} {
    padding-top: 26px;
  }
  @media #{$min-tablet-width} {
    display: flex;
    padding-top: 55px;
  }
  @media #{$min-desktop-width} {
    padding-top: 90px;
  }
}
.contacts__field {
  @media #{$min-tablet-width} {
    width: 266px;
    flex-shrink: 0;
    margin-top: 106px;
  }
  @media #{$min-desktop-width} {
    width: 400px;
    margin-top: 140px;
  }
}
.contacts__title {
  @include main-title;
  @media #{$max-mobile-width} {
    font-size: 2.2rem;
  }
  @media #{$min-desktop-width} {
    font-size: 3rem;
  }
  @media #{$min-desktop-width} {
    margin-bottom: 0;
  }
}
.contacts__phone {
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  @media #{$max-mobile-width} {
    margin-top: 10px;
  }
  @media #{$min-tablet-width} {
    margin-top: 10px;
  }
  @media #{$min-desktop-width} {
    margin-top: 22px;
  }
}
.contacts__mail {
  display: block;
  font-size: 1.4rem;
  @media #{$max-mobile-width} {
    margin-top: 12px;
  }
  @media #{$min-tablet-width} {
    margin-top: 10px;
  }
  @media #{$min-desktop-width} {
    margin-top: 17px;
  }
}
.contacts__address {
  display: block;
  font-size: 1.4rem;
  font-style: normal;
  @media #{$max-mobile-width} {
    margin-top: 15px;
  }
  @media #{$min-tablet-width} {
    margin-top: 13px;
  }
  @media #{$min-desktop-width} {
    margin-top: 21px;
  }
}
.contacts__submit {
  position: relative;
  background-color: transparent;
  display: block;
  @media #{$max-mobile-width} {
    width: 190px;
    height: 45px;
    margin-top: 38px;
  }
  @media #{$min-tablet-width} {
    width: 200px;
    height: 45px;
    margin-top: 38px;
  }
  @media #{$min-desktop-width} {
    width: 230px;
    height: 50px;
    margin-top: 43px;
  }
  &.btnflip {
    height: 45px;
    @media #{$min-desktop-width} {
      height: 50px;
    }
  }
  & .btnflip-item {
    text-transform: uppercase;
    line-height: 45px;
    @media #{$max-mobile-width} {
      font-size: 1.4rem;
    }
    @media #{$min-tablet-width} {
      font-size: 1.4rem;
    }
    @media #{$min-desktop-width} {
      line-height: 50px;
      font-size: 1.6rem;
    }
  }
  .btnflip-item.btnflip__front {
    color: #000;
    border: 1px solid #000;
  }
  .btnflip-item.btnflip__back {
    color: #fff;
    background-color: #000;
    transform: rotateX(180deg) translateZ(20px);
    border: 0 solid #000;
  }
  .btnflip-item.btnflip__center {
    background: #fff;
  }
  .btnflip-item.btnflip__center::before {
    background: #000;
  }
}
.page-header__burger-field {
  @media #{$max-mobile-width} {
    position: relative;
    z-index: 2;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.contacts__map-field {
  @media #{$max-mobile-width} {
    margin-top: 32px;
  }
  @media #{$min-tablet-width} {
    flex-grow: 1;
  }
}
.contacts__map {
  width: 100%;
  @media #{$max-mobile-width} {
    height: 298px;
  }
  @media #{$min-tablet-width} {
    height: 500px;
  }
}
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}