.popup-callback {
  display: flex;
  align-items: center;
  max-width: 611px;
  height: 100%;
  @include centers;
  @media #{$max-mobile-width} {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.popup-callback__wrapper {
  border: 1px solid #000;
  background-color: #fff;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 25px 23px;
  background-size: 50px 291px;
  background-image: url("/assets/templates/omega-template/img/quiz-dots.png");
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @media #{$max-mobile-width} {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  @media #{$min-tablet-width} {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  @media #{$min-desktop-width} {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}
.popup-callback__close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 1px;
    height: 40px;
    background-color: #000;
    transform: translate(-0.5px, -20px) rotate(45deg);
  }
  &::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 1px;
    height: 40px;
    background-color: #000;
    transform: translate(-0.5px, -20px) rotate(-45deg);
  }
}
.popup-callback__title {
  color: #000;
  max-width: 355px;
  @include centers;
  margin-top: 0;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-size: 1.5rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.5rem;
  }
  @media #{$min-desktop-width} {
    font-size: 2.2rem;
  }
}
.popup-callback__form {
  max-width: 400px;
  @include centers;
  margin-top: 20px;
}
.popup-callback__form-wrapper {
  max-width: 200px;
  @include centers;
}
.popup-callback__input {
  display: block;
  width: 100%;
  border: 1px solid #000;
  height: 45px;
  font-size: 1.4rem;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 22px;
}
.popup-callback__submit {
  position: relative;
  background-color: transparent;
  width: 100%;
  margin-top: 29px;
  @media #{$max-mobile-width} {
    height: 45px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    height: 45px;
  }
  @media #{$min-desktop-width} {
    height: 50px;
  }
  & .btnflip-item {
    @media #{$max-mobile-width} {
      line-height: 45px;
    }
    @media #{$min-tablet-width} {
      line-height: 45px;
    }
    @media #{$min-desktop-width} {
      line-height: 50px;
    }
  }
  & span {
    @media #{$max-mobile-width} {
      font-size: 1.4rem;
    }
    @media #{$min-tablet-width} {
      font-size: 1.4rem;
    }
    @media #{$min-desktop-width} {
      font-size: 1.8rem;
    }
  }
}
.popup-callback__confid-checkbox {
  display: none;
}
.popup-callback__confid-link {
  text-decoration: underline;
}
.popup-callback__confid-label {
  display: block;
  max-width: 375px;
  @include centers;
  padding-left: 30px;
  margin-top: 20px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    @media #{$max-mobile-width} {
      transform: translateY(-8px);
    }
    @media #{$min-tablet-width} {
      transform: translateY(-8px);
    }
    @media #{$min-desktop-width} {
      transform: translateY(-10px);
    }
  }
}
#popup-callback-confid-checkbox:checked ~ .popup-callback__confid-label {
  &::after {
    position: absolute;
    content: "";
    left: 9px;
    top: 50%;
    width: 9px;
    height: 9px;
    background-color: #000;
    @media #{$max-mobile-width} {
      transform: translateY(-4px);
    }
    @media #{$min-tablet-width} {
      transform: translateY(-4px);
    }
    @media #{$min-desktop-width} {
      transform: translateY(-6px);
    }
  }
}