.start {
  @media #{$max-mobile-width} {
    display: none;
  }
}
.start__wrapper {
  @include section-width;
  @include paddings;
}
.start__container {
  background-color: #f6f6fa;
  @media #{$min-tablet-width} {
    margin-top: 70px;
    padding-top: 63px;
    padding-bottom: 68px;
    padding-left: 17px;
    padding-right: 17px;
  }
  @media #{$min-desktop-width} {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.start__title {
  @include main-title;
  text-align: center;
  margin-bottom: 0;
}
.start__text {
  display: block;
  text-align: center;
  @media #{$min-tablet-width} {
    margin-top: 18px;
  }
  @media #{$min-desktop-width} {
    margin-top: 11px;
  }
}
.start__form {
  @include centers;
  @media #{$min-tablet-width} {
    width: 240px;
    margin-top: 26px;
  }
  @media #{$min-desktop-width} {
    display: flex;
    width: 949px;
    justify-content: space-between;
    margin-top: 22px;
  }
}
.start__input {
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 2px solid #000;
  background-color: transparent;
  @media #{$only-tablet-width} {
    width: 100%;
    height: 45px;
    display: block;
    margin-top: 17px;
  }
  @media #{$min-desktop-width} {
    width: 245px;
    height: 50px;
  }
}
.start__submit-field {
  @media #{$min-tablet-width} {
    margin-top: 45px;
  }
  @media #{$min-desktop-width} {
    width: 337px;
    margin-top: 0;
  }
}
.start__submit {
  position: relative;
  background-color: transparent;
  @media #{$min-tablet-width} {
    width: 100%;
    height: 45px;
  }
  @media #{$min-desktop-width} {
    width: 100%;
    height: 50px;
  }
  & .btnflip-item {
    @media #{$min-tablet-width} {
      line-height: 45px;
    }
    @media #{$min-desktop-width} {
      line-height: 50px;
    }
  }
}
.start__confid-checkbox {
  display: none;
}
.start__confid-label {
  position: relative;
  display: block;
  line-height: 2rem;
  @media #{$min-tablet-width} {
    padding-left: 23px;
    margin-top: 13px;
  }
  @media #{$min-desktop-width} {
    padding-left: 16px;
    margin-top: 22px;
  }
  &::before,
  &::after {
    left: -1px;
    top: 4px;
  }
  @include custom-check;
}
#start-confid-checkbox:checked ~ .start__confid-label {
  @include custom-check--checked;
}